<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/searchpatients">Pacijenti</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/zappregled">Započni pregled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/vacationrequest">Zahtev za godišnji odmor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/zakpregled">Zakazivanje pregleda ili operacije</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/radniKalendar">Radni kalendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cancelAppointment">Otkazi pregled</a>
  </li>
</ul>
<app-patients></app-patients>