<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" (click)="prikaziPacijente()">Pacijenti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/zappregled">Započni pregled</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/godisnji">Zahtev za godišnji odmor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/zakpregled">Zakazivanje pregleda ili operacije</a>
    </li>
  </ul>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="jmbg">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>