<app-header></app-header>
<form class="form-inline md-form mr-auto mb-4" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <table>
        <tr>
            <td><input class="form-control mr-sm-2" type="text" [(ngModel)]="ime" name="ime" placeholder="Ime"
                    aria-label="Search"></td>
        </tr>
        <tr>
            <td><input class="form-control mr-sm-2" type="text" [(ngModel)]="prezime" name="prezime"
                    placeholder="Prezime" aria-label="Search"></td>
        </tr>
        <tr>
            <td><input class="form-control mr-sm-2" type="text" [(ngModel)]="ocena" name="ocena"
                    placeholder="Prosecna ocena" aria-label="Search"></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" type="submit">Pretraži</button></td>
        </tr>
    </table>
</form>

<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Datum</th>
            <th scope="col">Zakazi</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of doctors; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td><select name="date" (change)="changeSelectedAppointment($event.target.value)">
                        <ng-container *ngFor="let date of user.dates">
                            <option value="{{date.appointmentId}}">{{date.date}}</option>
                        </ng-container>
                    </select></td>
                <td><button type="button" class="btn btn-primary" (click)='zakazi()'>Zapocni pregled</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>