<app-header></app-header>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Pocetak</th>
            <th scope="col">Kraj</th>
            <th scope="col">Prihvati</th>
            <th scope="col">Odbij</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let request of pendingRequests; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{request.firstName}}</td>
                <td>{{request.lastName}}</td>
                <td>{{request.startDate | date:'yyyy-MM-dd'}}</td>
                <td>{{request.endDate | date:'yyyy-MM-dd'}}</td>
                <td><button type="button" class="btn btn-success" (click)="prihvati(request.id)">Prihvati</button></td>
                <td><button type="button" class="btn btn-danger" (click)="odbij(request.id)">Odbij</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>

<div class="razlog" *ngIf="brisanje">
    <input type="text" [(ngModel)]="razlog"><button type="button" class="btn btn-danger"
        (click)="odbij2()">Odbij</button><button type="button" class="btn btn-primary"
        (click)="odustani()">Odustani</button>
</div>