<form class="forma">
    <h1 class="title">Promena lozinke</h1>
    <div class="form-group row">
        <label for="inputPasswordOld" class="col-sm-2 col-form-label">Old password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPasswordOld" placeholder="Old password"
                [(ngModel)]="oldPassword" name="oldPassword">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPasswordNew1" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPasswordNew1" placeholder="Old password"
                [(ngModel)]="password" name="password">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPasswordNew2" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPasswordNew2" placeholder="Old password"
                [(ngModel)]="password2" name="password2">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <button (click)="promeni()" class="btn btn-primary">Confirm</button>
        </div>
    </div>
</form>