.nav-link {
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
}

.wrapperdiv {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    display: flex;
    padding-bottom: 5em;
}