<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="/add-clinic">Dodaj kliniku</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add-admin">Dodaj administratora</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add-to-codebook">Dodaj u sifarnik</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add-cca">Dodaj administratora klinickog centra</a>
    </li>
</ul>
<app-pending-users></app-pending-users>