<app-header></app-header>
<div class="forma" *ngIf="initialized()">
    <form>
        <h1 class="title">Popunjavanje izvestaja o pregledu</h1>
        <div class="form-group row">
            <label for="descrpition" class="col-sm-2 col-form-label">Opis</label>
            <div class="col-md-5">
                <textarea type="text" class="form-control" id="description" placeholder="description"
                    [(ngModel)]="description" name="description" rows="10" cols="30"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="diagnosis" class="col-sm-2 col-form-label">Dijagnoza</label>
            <div class="col-sm-5">
                <select name="repeatSelect" id="repeatSelect" (change)="changeSelectedDiagnosis($event.target.value)"
                    class="form-control">
                    <option value={{null}}></option>
                    <option *ngFor="let diagnosis1 of diagnosises" value="{{diagnosis1.id}}">
                        {{diagnosis1.name}}
                    </option>
                </select>

            </div>
        </div>
        <div class="form-group row">
            <label for="medicine" class="col-sm-2 col-form-label">Prepisan lek</label>
            <div class="col-sm-5">
                <select name="repeatSelect" id="repeatSelect2" (change)="changeSelectedMedicine($event.target.value)"
                    class="form-control">
                    <option value={{null}}></option>
                    <option *ngFor="let medicine1 of medicines" value="{{medicine1.id}}">
                        {{medicine1.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button (click)="promeni()" class="btn btn-primary">Potvrdi</button>
            </div>
        </div>
    </form>
    <div class="zakazi">
        <form class="form-group md-form mr-auto mb-4" (ngSubmit)="zakazi(f)" #f="ngForm">
            <div class="form-group">
                <div class="input-group">
                    <select name="repeatSelect" id="repeatSelect3"
                        (change)="changeSelectedAppType($event.target.value)">
                        <option value={{null}}></option>
                        <option *ngFor="let appotype of appointmentTypes" value="{{appotype.name}}">
                            {{appotype.name}}
                        </option>
                    </select>
                    <div class="datum">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" name="datum" [(ngModel)]="model"
                            ngbDatepicker #d="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img
                                    src="../../assets/images/calendar.png"
                                    style="width: 1.2rem; height: 1.2rem; cursor: pointer;" /></button></div>
                    </div>
                    <button class="btn btn-primary" type="submit">Zakaži</button>
                </div>
            </div>
        </form>
    </div>
</div>