<app-header></app-header>
<h2 align="center">Dodavanje novog doktora</h2>
<table class="unos">
    <caption>Unos doktora</caption>
    <thead style="display:none;">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ime:</td>
            <td><input type="text" [(ngModel)]="imenovog"></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" [(ngModel)]="prznovog"></td>
        </tr>
        <tr>
            <td>Adresa:</td>
            <td><input type="text" [(ngModel)]="adresanovog"></td>
        </tr>
        <tr>
            <td>Mail:</td>
            <td><input type="text" [(ngModel)]="mailnovog"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success" (click)="onSubmit()">Dodaj doktora</button></td>
        </tr>
    </tbody>
</table>


<hr>
<h2 align="center">Doktori</h2>
<div class="tabela">
    <table class="doktori">
        <caption>Pregled doktora</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Obrisi</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let doc of doctors; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{doc.name}}</td>
                    <td>{{doc.lastname}}</td>
                    <td><button type="button" class="btn btn-danger" (click)="obrisi(doc.clinic)">Obrisi</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>