<app-header></app-header>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lekar</th>
            <th scope="col">Pacijent</th>
            <th scope="col">Datum pregleda</th>
            <th scope="col">Tip pregleda</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let ar of appointmentRequests; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{ar.doctor}}</td>
                <td>{{ar.patient}}</td>
                <td>{{ar.date | date:'yyyy-MM-dd'}}</td>
                <td>{{ar.type}}</td>
                <td><button type="button" id="termin{{i+1}}" class="btn btn-primary"
                        (click)="findAppointment(ar.id,ar.doctor,ar.patient,ar.date,ar.type)">Pronadji termin</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div>
    <p *ngIf="!hidden" class="detalji">
        <span class="spanic">
            Doctor_id: {{disp_doctor_id}},
        </span>
        <span class="spanic">
            Patient_id: {{disp_patient_id}},
        </span>
        <span class="spanic">
            Date : {{disp_date | date:'yyyy-MM-dd'}},
        </span>
        <span class="spanic">
            Type :{{disp_type}}
        </span>
    </p>
</div>
<div>
</div>
<form *ngIf="!hidden" class="form-inline md-form mr-auto mb-4" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <div class="input-group">
            <input type="text" [(ngModel)]="ime" id="ime" name="ime" placeholder="Naziv sale" aria-label="Search">
            <input type="text" [(ngModel)]="broj" id="broj" name="broj" placeholder="Broj sale" aria-label="Search">
            <div class="datum">
                <input class="form-control" id="date" placeholder="yyyy-mm-dd" name="dp" name="datum" [(ngModel)]="model"
                    ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img
                            src="../../assets/images/calendar.png"
                            style="width: 1.2rem; height: 1.2rem; cursor: pointer;" /></button></div>
            </div>
            <button class="btn btn-primary" id="pretrazi" type="submit">Pretraži</button>
        </div>
    </div>
</form>
<span *ngIf="!hidden">
    <div class="sobe" *ngFor="let room of rooms">
        <div class="naziv"><strong><span class="nazivsale">{{room.name}}</span><span class="nazivsale">
                    {{room.number}}</span></strong></div>
        <div class="datumi" *ngFor="let date of room.dates">
            <span class="nazivsale">{{date | date:'short'}}</span>
            <button class="btn btn-primary" id="{{room.id}}" (click)="zakazi(date,room.id)">Zakaži</button>
        </div>
    </div>
</span>