<table class="table">
    <caption>Zahtevi za registraciju</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Prihvati</th>
            <th scope="col">Odbij</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of pendingUsers; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td><button type="button" class="btn btn-success" (click)="prihvati(user.id)">Prihvati</button></td>
                <td><button type="button" class="btn btn-danger" (click)="odbij(user.id)">Odbij</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>