<app-header></app-header>
<form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <div class="input-group">
            <div class="datum">
                <input class="form-control" placeholder="yyyy-mm-dd" id="date" name="dp" name="datum" [(ngModel)]="model"
                    ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img
                            src="../../assets/images/calendar.png"
                            style="width: 1.2rem; height: 1.2rem; cursor: pointer;" /></button></div>
            </div>


            <input type="text" id="tip" name="tip" [(ngModel)]="tip" placeholder="Tip" required>
            <button id="pretrazi" class="btn btn-primary" type="submit">Pretraži klinike</button>

        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Prosek</th>
            <th scope="col">Doktori</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let clinic of clinics; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{clinic.name}}</td>
                <td>{{clinic.description}}</td>
                <td>{{clinic.avg}}</td>
                <td><button id="doctor{{i+1}}" type="button" class="btn btn-primary" (click)="doktori(clinic.name)">Doktori</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Zakazi</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let doctor of doctors; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{doctor.firstName}}</td>
               <td><button type="button" id="zakazi{{i+1}}" class="btn btn-primary" (click) ='zakazi(doctor.id)'>Zapocni pregled</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>