.datum {
    display: flex;
    flex-direction: row;
}
.table {
    margin: 5em auto;
    max-width: 1000px;
    border: 2px solid #333333;
    box-shadow: 2px 2px 2px #444444;
}
.input-group {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 1px;
}

form {
    margin-left: 40%;
    margin-top: 50px;
}