.datum {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 1px;
}

form {
    margin-left: 40%;
    margin-top: 50px;
}