<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/searchclinics">Klinike</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/medicalrecord/{{userId}}">Vas karton</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/makeGrades">Oceni doktore i klinike</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/searchDoctors/">Doktori</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/predefAppointments">Predefinisani pregledi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cancelAppointment">Otkazi pregled</a>
    </li>
  </ul>
  <app-incoming-examinations></app-incoming-examinations>