<app-header></app-header>
<h2 align="center">Dodavanje sale</h2>
<div class="inputt">
    <table class="unos">
        <caption>Dodavanje sale</caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" [(ngModel)]="nazivnove"></td>
        </tr>
        <tr>
            <td>Broj:</td>
            <td><input type="text" [(ngModel)]="brnove"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success" (click)="onSubmit()">Dodaj salu</button></td>
        </tr>
    </table>
</div>
<hr>
<h2 align="center">Sale</h2>
<div class="tabela">
    <table class="sale">
        <caption>Prikaz sala</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naziv</th>
                <th scope="col">Promeni</th>
                <th scope="col">Obrisi</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let room of rooms; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td><input type="text" [(ngModel)]="nazivi[i]" value="{{room.name}} {{room.number}}"></td>
                    <td><button type="button" class="btn btn-primary"
                            (click)="izmeni(room.id, nazivi[i])">Izmeni</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="obrisi(room.id)">Obrisi</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>