.inputt {
    margin-top: 10px;
}

.unos{
    margin-left: 40%;
    margin-top: 10px;
    border: 2px solid #333333;
    max-width: 800px;
    box-shadow: 2px 2px 2px #444444;
}

.tipovi {
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    width: 600px;
    margin-top: 10px;
    border: 2px solid #333333;
    max-width: 800px;
    box-shadow: 2px 2px 2px #444444;
}

tr {
    padding-top: 15px;
}