<app-header></app-header>
<div class="inputt">
    <input type="text" [(ngModel)]="nazivnovog"> <button class="btn btn-success" (click)="onSubmit()">Dodaj tip
        pregleda</button></div>
<hr>
<div class="tabela">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naziv</th>
                <th scope="col">Promeni</th>
                <th scope="col">Obrisi</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let type of types; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td><input type="text" [(ngModel)]="nazivi[i]" value={{type.name}}></td>
                    <td><button type="button" class="btn btn-primary"
                            (click)="izmeni(nazivi[i], type.id)">Izmeni</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="obrisi(type.id)">Obrisi</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>