<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="/urediKliniku">Uredi kliniku</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/definisiPregled">Definisi pregled</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/poslovanje">Izvestaj o poslovanju</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/zakpregled">Rad sa entitetima</a>
    </li>
</ul>
<app-pending-users></app-pending-users>
