<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="/editclinic">Uredi kliniku</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/definisiPregled">Definisi pregled</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/businessreport">Izvestaj o poslovanju</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/searchrooms">Rasporedjivanje pregleda i operacija</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pendingvacationrequests">Zahtevi za godisnji</a>
    </li>
</ul>