<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

  <div class="main">



    <div class="container">

      <div class="middle">
        <div id="login">

          <form (ngSubmit)="onSubmit(f)" #f="ngForm">

            <fieldset class="clearfix">

              <p><span class="fa fa-user"></span><input type="text" Placeholder="Ime" id="firstName"
                  [(ngModel)]="firstName" name="firstName" required></p>
              <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span class="fa fa-user"></span><input type="text" Placeholder="Prezime" id="lastName"
                  [(ngModel)]="lastName" name="lastName" required></p>
              <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span class="fa fa-envelope-o"></span><input type="text" Placeholder="E-mail" id="email"
                  [(ngModel)]="email" name="email" required></p>
              <p><span class="fa fa-square"></span><input type="text" Placeholder="Adresa" id="address"
                  [(ngModel)]="address" name="address" required></p>
              <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span class="fa fa-square"></span><input type="text" Placeholder="JMBG" id="jmbg" [(ngModel)]="jmbg"
                  name="jmbg" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
              <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span class="fa fa-lock"></span><input type="password" Placeholder="Lozinka" id="password"
                  [(ngModel)]="password" name="password" required></p>
              <!-- JS because of IE support; better: placeholder="Password" -->
              <p><span class="fa fa-lock"></span><input type="password" Placeholder="Potvrdi lozinku" id="password2"
                  [(ngModel)]="password2" name="password2" required></p>

              <div>
                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text"
                    href="/login">Log In</a></span>
                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit"
                    value="REGISTRUJ SE"></span>
              </div>

            </fieldset>
            <div class="clearfix"></div>
          </form>

          <div class="clearfix"></div>

        </div> <!-- end login -->
        <div class="logo"><br><img
            src="../../assets/images/logo.png" height="150"
            width="150">

          <div class="clearfix"></div>
        </div>

      </div>

    </div>

  </div>
</body>